@using System.Data

<div class="card shadow-sm">
    <div class="card-header">
        Table Component: @selectedTableType.Name
    </div>
    <div class="card-body">
        @if (table != null)
        {
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th colspan="@table.Columns.Count">
                        Input
                    </th>
                    <th>
                        
                    </th>
                </tr>
                <tr>
                    @foreach (var c in table.Columns)
                    {
                        <th>
                            @if (string.IsNullOrWhiteSpace(c.Description)) { 
                                @c.Name
                            }
                            else
                            {
                                @c.Description
                            }
                        </th>
                    }
                    <th>
                        <input type="button" class="btn btn-link" value="Add" @onclick="AddRow">
                    </th>
                </tr>
                </thead>
                <tbody>

                @foreach (var row in table.Rows)
                {
                    <tr @oninput="@(() => OnRowChange(row))">
                        @foreach (var cell in row.Cells)
                        {
                        <td>

                            @if (cell.ColumnName.Equals("Id"))
                            {
                                @cell.Value
                            }
                            else
                            {
                                <input @bind-value="@cell.Value" @bind-value:event="oninput" class="form-control" @attributes="@cell.InputAttributes" />
                            }

                        </td>
                        }
                        <td>
                            <input type="button" class="btn btn-link" value="Del" @onclick="@(() => RemoveRow(row))">
                        </td>
                    </tr>}
                

                </tbody>
            </table>
        }
    </div>
</div>